<!-- views/listings/show.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= game.gameName %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1><%= game.gameName %> by <%= game.owner.username %></h1>
        <h3>Current Status:<%= game.status %></h3>
        <% if (game.note) { %>
            <p>Note: <%= game.note %></p>
        <% } %>
        <% if (game.owner._id.equals(user._id)) { %>
        <div class="owner-container">
            <p>Owned by you</p>
            <a href="/games/<%= game._id %>/edit">Edit Game</a>
        
        <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Game</button>
        </form>
        
        <% } else { %>
        <p>Owned by <%= game.owner.username %></p>
        <% } %>

        
    <h2>Likes</h2>
    <p>Liked by <%= game.likedByUsers.length %> people.</p>

    <% if (userLiked) { %>
        <p>You've liked this game!</p>
        <form
            action="/games/<%= game._id %>/liked-by/<%= user._id %>?_method=DELETE"
            method="POST"
        >
            <button type="submit" id="dislike" >Dislike</button>
        </form>
    <% } else { %>
        <p>You haven't like this game. </p>

    <form
      action="/games/<%= game._id %>/liked-by/<%= user._id %>"
      method="POST"
    >
      <button type="submit" id="Like">Like</button>
    </form>
    <% } %>
</body>
</html>