<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= game.gameName %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1><%= game.gameName %> by <%= game.owner.username %></h1>
        <h3>Current Status:<%= game.status %></h3>
        <% if (game.note) { %>
            <p>Note: <%= game.note %></p>
        <% } %>
    <form
    action="/games/<%= game._id %>?_method=DELETE"
    method="POST"
    >
        <button type="submit">Delete Game</button>
    </form>
</body>
</html>