<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Profile</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="profile-container">
        <h1>Profile</h1>
        <p>
          You have 
          <%= myGames.length %> 
          <%= myGames.length===1 ? 'Games' : 'Games' %>
        </p>
        <div class="profile-card-container">
            <% myGames.forEach((game) => { %>
                <h1><%= game.gameName %></h1>
                <h3>Current Status: <%= game.status %></h3>
                <% if (game.note) { %>
                    <p>Note: <%= game.note %></p>
                <% } %>
            <% }); %>
        </div>
      </div>
    </body>
  </html>