<!-- views/users/show -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Profile</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="profile-container">
        <h1>Profile</h1>
        <p>
          You have 
          <%= myGames.length %> 
          <%= myGames.length === 1 ? 'Game' : 'Games' %>
        </p>
        <div class="profile-card-container">
            <ul>
                <% myGames.forEach((game) => { %>
                  <li>
                    <a href="/games/<%= game._id %>">
                      <h4><%= game.gameName %></h4>
                      <p>Owned by <%= game.owner.username %></p>
                      <p>Status: <%= game.status %></p>
                    </a>
                  </li>
                <% }) %>
              </ul>
        </div>
      </div>
    </body>
  </html>